CSS:


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f56f6f;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-sidebar {
    width: 20%;
    padding:1px;
}

.left-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 450px;
    font-style: normal;
}

.left-sidebar li {
    margin-right: 20px;
}

.left-sidebar a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.right-content {
    width: 80%;
    padding: 10px;
}

.tourist-site {
    display: flex;
    background-color: #f8f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right:-100px;
    margin-left:1px;
}

.site-image {
    width: 30%;
}

.site-image img {
    width: 100%;
    height: 150px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.site-info {
    width: 70%;
    padding-left: 20px;
}

.ratings {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.ratings span:first-child {
    marg.ratings {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    
    .ratings span:first-child {
        margin-right: 10px;
    }
    in-right: 10px;
}
